org.eclipse.winery.bpmn4tosca.converter.tobpel/src/test/resources/example_snippets/TrustedCloudApplication2_buildPlan/invoker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SIServerImplService" targetNamespace="http://siserver.org/wsdl" xmlns:ns="http://siserver.org/schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siserver.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://siserver.org/schema" schemaLocation="invoker.xsd"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="invokeResponse">
    <wsdl:part name="invokeResponse" element="ns:invokeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokePlanMessage">
    <wsdl:part name="invokePlan" element="ns:invokePlan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeOperationSyncMessage">
    <wsdl:part name="invokeOperationSync" element="ns:invokeOperationSync">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeOperationAsyncMessage">
    <wsdl:part name="invokeOperationAsync" element="ns:invokeOperationAsync">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeOperationMessage">
    <wsdl:part name="invokeOperation" element="ns:invokeOperation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CallbackPortType">
    <wsdl:operation name="callback">
      <wsdl:input message="tns:invokeResponse">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InvokePortType">
    <wsdl:operation name="invokeOperation">
      <wsdl:input message="tns:invokeOperationMessage">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="invokeOperationAsync">
      <wsdl:input message="tns:invokeOperationAsyncMessage">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="invokeOperationSync">
      <wsdl:input message="tns:invokeOperationSyncMessage">
    </wsdl:input>
      <wsdl:output message="tns:invokeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokePlan">
      <wsdl:input message="tns:invokePlanMessage">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvokeBinding" type="tns:InvokePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invokeOperation">
      <soap:operation soapAction="http://siserver.org/invokeOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="invokeOperationAsync">
      <soap:operation soapAction="http://siserver.org/invokeOperationAsync" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="invokeOperationSync">
      <soap:operation soapAction="http://siserver.org/invokeOperationSync" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokePlan">
      <soap:operation soapAction="http://siserver.org/invokePlan" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CallbackBinding" type="tns:CallbackPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="callback">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrustedCloudApplication2.csarInvokerService">
    <wsdl:port name="CallbackPort" binding="tns:CallbackBinding">
      <soap:address location="http://localhost:8088/callback"/>
    </wsdl:port>
    <wsdl:port name="InvokePort" binding="tns:InvokeBinding">
      <soap:address location="http://localhost:8081/invoker"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
